.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    gap: 50px;
    font-family: 'Roboto', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    text-align: center;
    margin-bottom: 1rem;
}

.logoImage {
    max-width: 80px;
}

.heading {
    color: #BE0019;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.form p {
    text-align: center;
    margin-bottom: 30px;
}

.createAccLink {
    width: 100%;
    text-decoration: none;
    display: block;
}

button {
    width: 100%;
    background-color: #BE0019;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 10px 0;
    font-size: 16px;
}

.backToLogin {
    color: #003E83;
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
}

.backToLogin:hover {
    text-decoration: underline;
}

.imageContainer {
    position: relative;
    max-height: 100%;
    width: 80%;
    margin-bottom: 20px;
    padding-left: 0 !important;
    max-width: 500px;
  }

  .yellowOverlay {
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 100.5%;
    z-index: 1;
  }

.yellow {
    width: 100%;
    height: 100%;
}

.images {
    width: 100%;
    height: auto;
    z-index: 0;
    margin-top: -4px;
    max-height: 320px;
    max-width: 500px;
  }