/* Main form */
body {
    padding: 0;
    margin: 0;
}

.application-container {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    padding-right: 35px;
    height: 100vh;
    /* justify-content: space-between; */
}

.breadcrumb {
    display: flex;
}

.header {
    color: var(--color-red);
}

/* Information Page*/
.info-page-container {
    display: flex;
}