.ApplicantDashboard {
    font-family: Arial, sans-serif;
    color: #333;
}

.ApplicantDashboard-header-container {
    display: flex;
    align-items: center;
}

.ApplicantDashboard-logo {
    width: 75px;
    margin-right: 20px;
}

.ApplicantDashboard-header {
    font-size: 2rem;
    color: #BE0019;
}

.ApplicantDashboard-sections-content {
    background-color: #F0C567;
    padding: 20px;
    border-radius: 8px;
    min-height: 100vh;
}

.ApplicantDashboard-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ApplicantDashboard-application-box {
    padding: 10px;
    border: 5px solid #BE0019;
    border-radius: 8px;
    background-color: white;
}

.ApplicantDashboard-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.ApplicantDashboard-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.expand-collapse-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #6e7f91;
}

.expand-collapse-btn:hover {
    color: #6e7f91;
}

ul {
    padding-left: 20px;
}

.header-title {
    display: flex;
    align-items: center;

}

.section-icon {
    margin-right: 10px;
}

.completed-applications,
.in-progress-applications {
    margin-bottom: 20px;
}

.red-line {
    border: 1.5px solid #BE0019;
    border-radius: 2px;
    display: block;
    width: 50%;
    margin: 10px auto;
}

.ApplicantDashboard-single-application-box {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    background-color: #003E83;
    margin-bottom: 20px;
    height: 50px;
}

.ApplicantDashboard-single-application-box p {
    color: white;
}

.application-info {
    display: flex;
    align-items: center;
}

.application-icon {
    background-color: #F0C567;
    margin-right: 10px;
}

.ApplicantDashboard-application-status {
    display: flex;
    border: #D9D9D980;
    background-color: #D9D9D980;
    padding: 10px;
    width: 300px;
    height: 30px;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.application-status-icon {
    margin-left: 10px;
    color: white;
}