.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-left: 0 !important;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    gap: 20px;
    width: 80vw;
    padding-left: 0 !important;
  }

  .imageContainer {
    position: relative;
    max-height: 70%;
    width: 80%;
    margin-bottom: 20px;
    padding-left: 0 !important;
  }

  .yellowOverlay {
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 100.5%;
    z-index: 1;
  }

  .yellow {
    width: 100%;
    height: 100%;
  }

  .images {
    width: 100%;
    height: auto;
    z-index: 0;
    margin-top: -4px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    margin-right: 20px;
  }
  
  .input {
    width: 90%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    width: 95%;
    padding: 10px;
    background-color: #BE0019;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px 0;
  }
  
  .error {
    color: #BE0019;
    margin-bottom: 10px;
  }

  
  .heading {
    text-align: center;
    color: #BE0019;
  }
  
  .spacing {
    margin-top: 20px;
  }
  
  .logo {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .logoImage {
    max-width: 100px;
  }
  
  a {
    color: blue;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }